--relative
--no-relative_classname_inclusion-check
--no-manifest_whitespace_opening_brace_after-check
--no-manifest_whitespace_opening_brace_before-check
--no-manifest_whitespace_opening_bracket_after-check
--no-manifest_whitespace_opening_bracket_before-check
--no-manifest_whitespace_closing_bracket_before-check
--no-manifest_whitespace_closing_brace_before-check
--no-manifest_whitespace_class_name_single_space_after-check
--no-parameter_documentation-check
--no-strict_indent-check
--no-parameter_types-check
--no-relative_classname_reference-check
--no-legacy_facts-check
--no-manifest_whitespace_arrows_single_space_after-check
--no-top_scope_facts-check
--no-documentation-check
--no-params_empty_string_assignment-check
--no-optional_default-check